body {
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font: 62.5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40px;
  height: 40px;
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav__links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 20px;

  margin-left: auto;
  text-decoration: none;
  list-style: none;
}

.nav__links > li {
  margin: 0 20px;
}

#hero__title {
  text-align: center;
  margin-bottom: 20px;
}

/* .logo {
  width: 50px;
  height: 50px;
}
 */

hr {
  width: 218px;
  height: 1px;
  border: 2px solid #e1b942;

  margin: 20px auto;
}
.gallery-container {
  min-height: 60vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
}

.gallery-main {
  /*  margin: auto; */
  display: flex;

  /*  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4rem; */
  align-items: flex-end;
  justify-content: space-around;
  margin: auto;
}

.gallery-main img {
  width: 400px;
  height: 300px;
  margin: 20px;
  /*  object-fit: cover; */
}

.gallery-small-1 {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

.gallery-small-1 img {
  width: 150px;
  height: 100px;
  /*  object-fit: cover; */
}

.gallery1 {
  position: relative;
  width: 50%;
}

.gallery-small-2 {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 20px 80px;
}

.gallery-small-2 img {
  width: 150px;
  height: 100px;
  /*  object-fit: cover; */
}

#title-1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  /*   transform: translate(-50%, -50%); */
  color: #e1b942;
  z-index: 2;
}

.gallery2 {
  position: relative;
}

#title-2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  /*   transform: translate(-50%, -50%); */
  color: #e1b942;
  z-index: 2;
}

í/*.gallery-small {
  display: flex;
  min-height: 20vh;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}/*

./* gallery3 {
  width: 40px;
  height: 60px;
}

.gallery4 {
  width: 40px;
  height: 60px;
}

.gallery5 {
  width: 40px;
  height: 60px;
}

.gallery6 {
  width: 40px;
  height: 60px;
} */

.gold {
  width: 15px;
  height: 3px;
  color: goldenrod;
}

/* Gallery img layout*/

.form-section {
  width: 50%;
  margin: 0 auto;
}
